/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    background-color:whitesmoke;
}

header {
    background-color: white;
}

/* Containers */

#container {
    margin: 0px 150px 0px 150px;
}

nav {
    background-color: white;
    margin: 30px 150px 0px 150px;
}


#subcontainer {
    background-color: white;
    margin: 2px 150px 15px 150px;
}


/* Header */

#logo {
    padding: 10px 10px 10px 20px;
    vertical-align: middle;
}

#title {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav */

#input1 {
    padding: 3px 10px 3px 10px;
    margin: 15px 10px 15px 50px;
    background-color:deepskyblue;
    border-color: deepskyblue;
    border-radius: 15%;
    color: white;
}


#input2  {
    padding: 3px 10px 3px 10px;
    margin: 15px 10px 15px 2px;
    background-color: white;
    border-color: lightgray;
    border-radius: 15%;
    color: grey;
}

/* Contenuto centrale */

ul {
    list-style: none;
    margin-left: 50px;
    padding: 15px 0px 15px 0px;
}

li {
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Etichette */

.blue {
    padding: 8px;
    background-color:deepskyblue;
    border-radius: 30%;
    font-size: 10px;
    color: white;
}

#purple {
    padding: 8px;
    background-color: blueviolet;
    border-radius: 30%;
    font-size: 10px;
    color: white;
}

#green {
    padding: 8px;
    background-color:green;
    border-radius: 30%;
    font-size: 10px;
    color: white;
}

#orange{
    padding: 8px;
    background-color:darkorange;
    border-radius: 30%;
    font-size: 10px;
    color: white;
}

#pink {
    padding: 8px;
    background-color:darkorchid;
    border-radius: 30%;
    font-size: 10px;
    color: white;
}

#lgreen {
    padding: 8px;
    background-color:lime;
    border-radius: 30%;
    font-size: 10px;
    color: white;
}

